
<section id="ktm-125-duke">
    <div class="content">
        <div class="text">
            <h2>KTM 125 Duke</h2>
            <p>The KTM 125 DUKE might only boast 125 cc, but rest assured - 
                this machine is 125% DUKE! Built with the same NAKED ethos as its bigger brethren, 
                he 2024 KTM 125 DUKE boasts an all-new, muscled-up attitude, complete with a fresh new frame, 
                suspension package, LED lights, riding tech, and street-ripping, turn-gripping aggression.</p>
        </div>
        <div class="image">
            <img src="https://azwecdnepstoragewebsiteuploads.azureedge.net/PHO_BIKE_90_RE_MY24-KTM-125-DUKE-ORANGE-90-RIGHT-2_%23SALL_%23AEPI_%23V1.png" alt="KTM 125 Duke">
        </div>
    </div>
</section>