

<section id="leo">
    <div class="content">
        <div class="image">
            <img src="https://cdn.bbike-cdn.com.cn/benelli.com/media/1808/conversions/0a2712f3010f07c6776bddd4acd932b6-hd.png" alt="LEONCINO 250">
        </div>
        <div class="text">
            <h2>LEONCINO 250</h2>
            <p>The Benelli Leoncino 250 achieves the impossible with the perfect synchronization of edgy scrambler attitude, flowing elegant design lines, and fully modern technology and performance. Underneath its visceral beauty beats an advanced liquid-cooled, 249cc single-cylinder four-stroke, four-valve mill, wrapped in an exquisite steel trellis chassis and riding upon race-derived front and rear suspension.</p>
        </div>
    </div>
</section>